@using UrlShortener.App.Frontend.Business

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<Bar @bind-Visible="@topbarVisible" Breakpoint="Breakpoint.Desktop" Background="Background.White" Shadow="Shadow.Default" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <Heading Size="HeadingSize.Is3">SQS - UrlShortener</Heading>
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Link" Target="Target.Blank" To="https://github.com/SimonLiebers-Dev/UrlShortener">GitHub</Button>
            </BarItem>
            <BarItem>
                <Button Color="Color.Primary" Outline Clicked="Logout">
                    Logout
                </Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    private bool topbarVisible = false;

    private async Task Logout()
    {
        // Remove token 
        await ((AppAuthenticationStateProvider)AuthenticationStateProvider).TriggerLogoutAsync();

        // Navigate to home
        NavigationManager.NavigateTo("/", true);
    }
}