@page "/dashboard"

@using UrlShortener.App.Frontend.Business
@using UrlShortener.App.Shared.DTO

@inject IMappingsService MappingsService

<Column Gap="Gap.Is5" Padding="Padding.Is2">
    @foreach (var mapping in mappings)
    {
        <Div>
            <Div>Name: @(mapping.Name ?? "-")</Div>
            <Div>LongUrl: @mapping.LongUrl</Div>
            <Div>ShortUrl: @mapping.ShortUrl</Div>
        </Div>
    }
</Column>

@code {
    private List<UrlMappingDTO> mappings = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await ReloadMappings();
    }

    private async Task ReloadMappings()
    {
        mappings = await MappingsService.GetMappings() ?? [];
        this.StateHasChanged();
    }
}
