@page "/logout"

@using UrlShortener.App.Frontend.Business

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Logout</PageTitle>

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ((AppAuthenticationStateProvider)AuthenticationStateProvider).TriggerLogoutAsync();
        NavigationManager.NavigateTo("/login", true);
    }
}