.card-wrapper {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.card-outer-wrapper {
    width: 400px;
    max-width: calc(100% - 48px);
}

.card-inner {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
